336
$FF $SI @ @ $ESC PEC:\Program $SPACE Files\NCR $SPACE APTRA\Advance $SPACE NDC\Media\CGS\lo\icon453.jpg $ESC \ $ESC [27;80m
$SI F N $RATE13 $SPACE $RATE14
$SI G N $RATE11 $SPACE $RATE12
$SI H N $RATE5 $SPACE $RATE6
$SI I N $RATE7 $SPACE $RATE8
$SI J N $RATE1 $SPACE $RATE2
$SI K N $RATE3 $SPACE $RATE4
$SI L N $RATE9 $SPACE $RATE10
