336
$FF $SI @ @ $ESC PEC:\Program $SPACE Files\NCR $SPACE APTRA\Advance $SPACE NDC\Media\CGS\lo\icon335.jpg $ESC \ $ESC [27;80m $SI J 0
$SI H N	$ISSCURRDESC $SPACE $AVAILABLE_BALANCE
$SI J N $ISSCURRDESC $SPACE $LEDGER_BALANCE
