036
$FF $SI @ @ $ESC PEC:\Program $SPACE Files\NCR $SPACE APTRA\Advance $SPACE NDC\Media\CGS\en\icon070.jpg $ESC \ $ESC [27;80m $SI J 0
$SI F 4 $AMOUNT $SPACE $ISSCURRDESC
$SI H 4 $TCRD
$SI J 4 $NAME
$SI L 4 $FEE
