$FF $SI @ @ $ESC PEC:\Program $SPACE Files\NCR $SPACE APTRA\Advance $SPACE NDC\Media\CGS\en\icon037.jpg $ESC \
$A	$SI H J
$B	$SI J J
$C	$SI L J
$D	$SI O 9
$F	$SI O C 
$G	$SI O @
$H	$SI L @
$I	$SI I @
